<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>LHJokeViewController</string>
		<key>itemName</key>
		<string>首页</string>
		<key>itemImgNormal</key>
		<string>oneN</string>
		<key>itemImgSelect</key>
		<string>oneD</string>
	</dict>
	<dict>
		<key>className</key>
		<string>LHMyViewController</string>
		<key>itemName</key>
		<string>我的</string>
		<key>itemImgNormal</key>
		<string>twoN</string>
		<key>itemImgSelect</key>
		<string>twoD</string>
	</dict>
</array>
</plist>
